*{
	margin:0 ;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	background:url(../img/cabecera.jpg) repeat-x top center ;
	background-color:#000066 ;
}


	#descarga{
		background:url(../img/descarga.jpg) no-repeat center ;
		position: relative;
		top:160px;
		background-size: cover;
		
	}



#contenedor{
	width:960px;
	margin: 0 auto;
	


	
}
#cabecera{
	padding:550px 0 0 200px;

}
#menu{
	width: 90%;
	text-align: center;
	display: inline-block;
	 ;

}
#menu a{
    text-decoration: none;
    color: white ;
    font-size: 25px;
    padding: 5px 20px;

}
#menu a:hover{
      border:  4px solid blueviolet; 
}
#recaudo{
color: white;
text-align:center;
margin:0 400px 0 400px;
position: relative;
top:140px;
right:200px;

}
#audiencia{
	color:blueviolet;
	float: right;
	position: relative;
	right:100px;
}
#critica{
	color: white;
	text-align: center;
    margin:  400px  400px;
	position: relative;
	top: 140px;
	left:300px;



}
#tomate{
	position:relative ;
	left: 100px;
	bottom:440px;
	color: blueviolet;
}
#footer{
background:#4b0081;
	text-align: center;
	color: blueviolet;
	padding:20px;
}





